# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Idea Files
/.idea/

# Data Files
/data/

# Config Files
config.py
config.json

# Temp Files
temp/

# Log Files
/logs/
*.log

# Drivers
/drivers/chromedriver.exe
/drivers/chromedriver_old.exe
